/* Main Title */
.main-title {
  color: var(--brand2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(2rem, 8vw, 3.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.08px;
}
/* Main Subtitle */
.main-subtitle {
  color: var(--dark2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 21.575rem;
}
/* Form Title */
.form-title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.25rem;
}
/* Placeholder Text */
::placeholder {
  color: #767676;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: clamp(0.875rem, 3.5vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02rem;
}
/* Button Text */
.button-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.375rem, 4vw, 2.2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
}
/* Light Titles */
.light-titles {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.75rem, 5vw, 2.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.92px;
  max-width: 45.0625rem;
}
/* Secondary Subtitle */
.secondary-subtitle {
  color: var(--dark2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.875rem, 3.5vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Second Section Card Title */
.second-section-card-title {
  color: var(--dark2);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.26px;
  max-width: 25.625rem;
}
/* Second Section Card Title 2 */
.second-section-card-title2 {
  color: #269ab6;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.26px;
}
/* Second Section Card Text */
.second-section-card-text {
  color: #7d7d7d;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn_form {
  width: 100%;
  background-color: var(--dark2);
  min-height: 3.125rem;
  border: none;
  border-radius: 1.5625rem;
  outline: none;
  cursor: pointer;
}
.button-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.375rem);
  /* Mínimo de 1.375rem, máximo de 4vw e valor padrão de 2.2rem */
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  /* Use uma unidade semelhante a 'em' para a linha de base, se preferir */
  text-transform: capitalize;
}
/* Testimonial Section Title */
.testimonial-section-title {
  color: #1a2f1f;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 86.4%;
  letter-spacing: -0.92px;
}
/* Testimonial Section Subtitle */
.testimonial-section-subtitle {
  color: #1c3622;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 86.4%;
}
/* Testimonial Text */
.testimonial-text {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

/* Author's Name */
.author-name {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

/* Author's Review Count */
.author-reviews {
  color: #7b7b7b;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

/* Fourth Section Title */
.fourth-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;
}

/* Fourth Section Subtitle */
.fourth-section-subtitle {
  color: #1c3622;
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 49.5px;
  letter-spacing: -0.66px;

}

/* Fifth Section Title */
.fifth-section-title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50.5px;
  letter-spacing: -1.08px;
  max-width: 31rem;
}

/* Fifth Section Subtitle */
.fifth-section-subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2.0625rem;
    max-width: 31rem;
}

/* Sixth Section Title */
.sixth-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;
  max-width: 39.125rem;
}

/* Sixth Section Card Titles */
.sixth-section-card-title {
  color: #fcfcfc;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
}

/* Sixth Section Card Texts */
.sixth-section-card-text {
  color: #fcfcfc;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.17px;
}

/* Seventh Section Title */
.seventh-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;

}

/* Seventh Section Card Titles (1st and 4th) */
.seventh-section-card-title-primary {
color: var(--verde-claro-100, #37C150);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.045rem;
  max-width: 13rem;
}

/* Seventh Section Card Texts (1st and 4th) */
.seventh-section-card-text-primary {
  color: rgba(22, 48, 25, 0.8);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
    max-width: 16rem;
    margin-top: 1rem;
}

/* Seventh Section Card Titles (2nd, 3rd, and 5th) */
.seventh-section-card-title-secondary {
  color: #163019;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
 max-width: 13rem;

}

.seventh_section--title-modifier{
  max-width: 55%;
}
.seventh_section--text-modifier{
  max-width: 45%;
    color: rgba(22, 48, 25, 0.8);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 138%;
      letter-spacing: -0.36px;
      margin-top: 1rem;
}
/* Seventh Section Card Texts (2nd, 3rd, and 5th) */
.seventh-section-card-text-secondary {
  color: rgba(22, 48, 25, 0.8);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
      max-width: 18rem;
        margin-top: 1rem;
}

/* FAQ Section Titles */
.faq-section-titles {
  color: var(--verde-escuro-100, #1c3622);
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.1rem,1.5rem, 1.625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.52px;
  margin-bottom: 2.75rem;
}

/* FAQ Question Titles */
.faq-question-titles {
  color: var(--dark6);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
}
.faq-question-text {
  color: var(--dark2);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
}
.final_section-title{
  color: #FBFBFB;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.09375rem;
    letter-spacing: -0.09rem;
    max-width:44.75rem;
}
.footer-phone-number{
  color: var(--brand);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02rem;
}
.footer-text{
color: var(--dark7);
  font-family: Raleway;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02rem;
  max-width: 21.1875rem;
  margin-top: 1.74rem;
}
.footer-text span{
  display: block;
  margin-top: 1.35rem;
}