/* Main Title */
.main-title {
  color: var(--brand2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(2rem, 8vw, 3.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.08px;
}
/* Main Subtitle */
.main-subtitle {
  color: var(--dark2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 21.575rem;
}
/* Form Title */
.form-title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.25rem;
}
/* Placeholder Text */
::placeholder {
  color: #767676;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: clamp(0.875rem, 3.5vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02rem;
}
/* Button Text */
.button-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.375rem, 4vw, 2.2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
}
/* Light Titles */
.light-titles {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.75rem, 5vw, 2.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.92px;
  max-width: 41.0625rem;
}
/* Secondary Subtitle */
.secondary-subtitle {
  color: var(--dark2);
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.875rem, 3.5vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Second Section Card Title */
.second-section-card-title {
  color: var(--dark2);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.26px;
  max-width: 25.625rem;
}
/* Second Section Card Title 2 */
.second-section-card-title2 {
  color: #269ab6;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.26px;
}
/* Second Section Card Text */
.second-section-card-text {
  color: #7d7d7d;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn_form {
  width: 100%;
  background-color: var(--dark2);
  height: 3.125rem;
  border: none;
  border-radius: 1.5625rem;
  outline: none;
  cursor: pointer;
}
.button-text {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 4vw, 1.375rem);
  /* Mínimo de 1.375rem, máximo de 4vw e valor padrão de 2.2rem */
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  /* Use uma unidade semelhante a 'em' para a linha de base, se preferir */
  text-transform: capitalize;
}
/* Testimonial Section Title */
.testimonial-section-title {
  color: #1a2f1f;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 86.4%;
  letter-spacing: -0.92px;
}
/* Testimonial Section Subtitle */
.testimonial-section-subtitle {
  color: #1c3622;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 86.4%;
}
/* Testimonial Text */
.testimonial-text {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

/* Author's Name */
.author-name {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

/* Author's Review Count */
.author-reviews {
  color: #7b7b7b;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

/* Fourth Section Title */
.fourth-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;
}

/* Fourth Section Subtitle */
.fourth-section-subtitle {
  color: #1c3622;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 49.5px;
  letter-spacing: -0.66px;
}

/* Fifth Section Title */
.fifth-section-title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.5px;
  letter-spacing: -1.08px;
}

/* Fifth Section Subtitle */
.fifth-section-subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Sixth Section Title */
.sixth-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;
}

/* Sixth Section Card Titles */
.sixth-section-card-title {
  color: #fcfcfc;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
}

/* Sixth Section Card Texts */
.sixth-section-card-text {
  color: #fcfcfc;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.17px;
}

/* Seventh Section Title */
.seventh-section-title {
  color: #1c3622;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
  letter-spacing: -1.44px;
}

/* Seventh Section Card Titles (1st and 4th) */
.seventh-section-card-title-1,
.seventh-section-card-title-4 {
  color: var(--verde-claro-100, #37c150);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}

/* Seventh Section Card Texts (1st and 4th) */
.seventh-section-card-text-1,
.seventh-section-card-text-4 {
  color: rgba(22, 48, 25, 0.8);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
}

/* Seventh Section Card Titles (2nd, 3rd, and 5th) */
.seventh-section-card-title-2,
.seventh-section-card-title-3,
.seventh-section-card-title-5 {
  color: #163019;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}

/* Seventh Section Card Texts (2nd, 3rd, and 5th) */
.seventh-section-card-text-2,
.seventh-section-card-text-3,
.seventh-section-card-text-5 {
  color: rgba(22, 48, 25, 0.8);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
}

/* FAQ Section Titles */
.faq-section-titles {
  color: var(--verde-escuro-100, #1c3622);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.52px;
}

/* FAQ Question Titles */
.faq-question-titles {
  color: #5c5c5c;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  letter-spacing: -0.36px;
}
