:root {

    --brand: #39C150;
    --brand2: #48B063;


    --dark1: #1A2F1F;
    --dark2: #1C3622;
    --dark3: #163019;
    --dark4: #1D4D24;
    --dark5: #7D7D7D;
    --dark6: #5C5C5C;
    --dark7: #808080;
    --dark8: #F8F2F2;
    --dark9: #A8A8A8;
    --dark10: #F3F2F5


    --light1: #FFFFFF;
    --light2: #269AB6;
    --light3: #2EBEE1;
    --light4: #2BADCC;
    --light5: #2188A0;
}
