.header {
  padding-top: 5.25rem;
  background-color: var(--light1);
  max-width: clamp(48rem, 80%, 70.1875rem);
  margin: 0 auto;
}

#logo {
  width: clamp(22.1875rem, 10vw, 27rem);
}
/*header acima da wave*/
.first_section {
  background-color: var(--brand);
  width: 100%;
  background-image: url("../images/backgrounds/top-wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.first_section-logos {
  margin-top: 0.5rem;
}
.first_section-left-content {
  display: flex;
  flex-direction: column;
  gap: 1.275rem;
  max-width: clamp(10rem, 30rem, 30.625rem);
}

.first_section-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first_section-right-content img {
  margin-bottom: 1.38rem;
}
.registration_form,
.step {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#step-2-modal{
  gap: .75rem;
}
.registration_form input,
.custom-select,
.selected-option {
  color: var(--dark3);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  outline: none;
  border: none;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.9375rem;
  padding-left: 0.7rem;
}
.custom-select {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--dark3);
}

.selected-option {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.7rem;
}

.options {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  max-height: 300px;
  color: #1b1b1b;
}
.options ul {
  border-radius: 0.5rem;
}
.options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top: 0.0625rem solid var(--dark8);
}
.options li:last-child {
  padding: 10px;
  border-bottom: 0.0625rem solid var(--dark8);
}
.options li:hover {
  background-color: var(--dark8);
}
.selected-step-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.13rem;
  gap: 1.1875rem;
}
.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--light1);
}
.unselected-step {
  background-color: var(--dark9);
}
.step2-circle{
background-color: var(--light1);
}

.second_section {
  background-color: var(--brand);
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 1.5rem;
  background-color: var(--light2);
}

.second_section-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5625rem;
  width: 100%;
}
.second_section-title {
  margin-top: 7rem;
}

.second_section-card {
  border-radius: 3.125rem;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);
  width: 29.9375rem;
  max-height: 38.5625rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0 3.5rem 0;
}
.order-list {
  margin-top: 2.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.second_section-left-content-item {
  max-width: 22.625rem;
}
.second_section-left-content-btn {
  background-color: var(--dark2);
}
.secondary-button {
  min-height: 3.125rem;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.125rem;
  margin-top: 2.0625rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.second_section-right-content {
  border-radius: 3.125rem;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);
  width: 29.9375rem;
  height: 36.5625rem;
  flex-shrink: 0;
}
.second_section-right-content-item {
  max-width: 22.625rem;
}
.second_section-right-content-btn {
  background-color: var(--light2);
}

.review {
  width: 16rem;
  height: 22.5625rem;
  border-radius: 1.875rem;
  background: #f2f3f5;
  padding: 1.5rem;
  position: relative;
}
.fourth_section-btn {
  background-color: var(--dark2);
}
.fourth_section-brand-logos-wrapper img {
  max-width: 11.7rem;
}

.fifth_section {
  background-color: var(--light2);
  position: relative;
}
.sixth_section {
  background-color: var(--dark8);
  width: 100%;
  background-image: url("../images/backgrounds/top-wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sixth_section-process-cards {
  margin-top: 3.3125rem;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  flex-wrap: wrap;
}
.sixth_section-process-card {
  max-width: 15.8125rem;
  border-radius: 1.875rem;
  padding: 2rem 2.31rem 1.69rem 2.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.process-card-1 {
  background-color: var(--light3);
}
.process-card-2 {
  background-color: var(--light4);
}
.process-card-3 {
  background-color: var(--light2);
}
.process-card-4 {
  background-color: var(--light5);
}

.sixth_section-process-btn {
  width: 24.375rem;
  height: 4rem;
  border-radius: 1.875rem;
  background-color: var(--brand);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sixth_section-process-btn i {
  font-size: 2rem;
  margin-right: 1rem;
}
.seventh_section {
  background-color: var(--dark8);
}
.seventh_section-benefits-cards-l1,
.seventh_section-benefits-cards-l2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 2rem;
}
.grid-item {
  width: 100%;
  height: 18.75rem;
  padding: 2.62rem 2.62rem;
  border-radius: 1.25rem;
}

.l1c1 {
  grid-column: 1;
  min-width: 27.625rem;
  background-color: var(--light1);
  border: 0.0625rem solid var(--brand);
}

.l1c2 {
  grid-column: 2 / span 3;
  min-width: 40.3125rem;
  background-color: var(--brand);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}
.l1c2 img {
  position: absolute;
  top: -72%;
  right: -15%;
}
.l2c1 {
  min-width: 40.3125rem;
  background-color: var(--brand);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}
.l2c1 img {
  position: absolute;
  top: 1rem;
  right: 6rem;
}
.l2c2 {
  min-width: 27.625rem;
  background-color: var(--light1);
  border: 0.0625rem solid var(--brand);
  border-radius: 1.25rem;
}
.l3c1c2 {
  margin-top: 2rem;
  background-color: var(--brand);
  width: 100%;
  min-width: 68.2rem;
  position: relative;
  overflow: hidden;
}
.l3c1c2 img {
  position: absolute;
  top: 0;
  right: 8rem;
}
.seventh_section-btn.secondary-button {
  background-color: var(--dark2);
}
.faq_section-about-brand,
.faq_section-about-us {
  width: 50%;
}
.question p {
  padding: 0.5rem;
}
.final_section {
  background-color: var(--light2);
  margin-top: 4rem;
  height: 18.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.final_section-btn.secondary-button {
  background-color: var(--dark2);
}
footer {
  background-color: var(--dark2);
  padding-top: 4.87rem;
  padding-bottom: 11rem;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contact {
  display: flex;
}

.footer-social-icons {
  margin-left: 6rem;
  display: flex;
  gap: 1rem;
  color: var(--brand);
}

.footer-social-icons {
  margin-left: 6rem;
}

.footer {
  border-top: 1px solid var(--dark11);
  margin-top: 1.5rem;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.74rem;
  gap: 1rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  width: 70vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light1);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-content iframe {
  width: 100%;
  height: 100%;
}
.video-modal-close-modal-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-family: Inter, sans-serif;
  top: 0;
  right: 0;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--light2);
  color: var(--light1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hide-display {
  display: none;
}
.show-display {
  display: block;
}
.slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateX(-100%);

    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


#toast,
#toast-middle,
#toast-modal {
  position: absolute;
  top: -70px;
  right: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--light2);
  border: 1px solid var(--brand);
  color: var(--light1);
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  display: none;
}

#toast-modal {
  background-color: var(--light1);
  color: var(--light2);
  right: -52px;
}

#toast.show,
#toast-middle.show,
#toast-modal.show {
  display: block;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#myModal {
  min-height: 29.1875rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2.5rem 2rem 2rem;
  width: 25rem;
  text-align: center;
  animation: fadeInModal 0.3s ease-in-out forwards;
  z-index: 999;
  border-radius: 1rem;
flex-direction: column;
justify-content: center;
align-items: center;
}
#myModal form input {
  margin-top: 0.2rem;
}
#next-step-1-modal {
  margin-top: 1rem;
}
@keyframes fadeInModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: -70px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: -70px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

#close-modal-btn {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light1);
  border-radius: 0.3rem;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.select-text{
  color: var(--dark9);
}
