.wrapper{
    max-width: 66.625rem;
    margin: 0 auto;
}
.first_section-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.top-wave{
    position: absolute;
    height: 42.4063rem;
    background-color: var(--brand);
    z-index: -1;
}
.top-wave img{
    max-width: 100%;
}