.testimonial-title-wrapper {
  margin-top: 1.38rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  gap: 2rem;
}
.testimonial-section-subtitle{
  font-size: 1.125rem;
  line-height: 110%;
  text-align: center;
}
.third_section-google-reviews-wrapper {
margin-top: 1.75rem;
padding: 2rem;
display: flex;
gap: 2rem;
overflow-x: auto;

}
.testimonial-author-wrapper {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
}
.review {
    min-width: 14rem;
    min-height: 19rem;
    border-radius: 1.875rem;
    background: #f2f3f5;
    padding: 1rem;
    position: relative;
    margin-top: 1rem;
}
.testimonial-text {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Inter", sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

@media(max-width:31rem) {
  .third_section a{
    display: none;
  }
  .third_section{
    padding: 1rem;

  }
}
@media(min-width:768px){

  .third_section-google-reviews-wrapper{
    flex-wrap: wrap;
    justify-content: center;
        max-width: 70rem;
          margin: 0 auto;
  }
}