.wrapper {
  max-width: clamp(48rem, 80%, 70.1875rem);
  margin: 0 auto;
}
.first_section-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.form-wrapper {
  background-color: var(--light2);
  max-width: clamp(18rem, 23rem, 24.3125rem);
  border-radius: 3rem;
  padding: 3rem 2.69rem 1.06rem;
}
.testimonial-title-wrapper {
  margin-top: 4.38rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.125rem;
}
.third_section-google-reviews-wrapper {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.37rem;
  justify-content: center;
}
.testimonial-author-wrapper {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
}
.fourth_section-title-wrapper {
  margin-top: 4.69rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth_section-brand-logos-wrapper {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.94rem;
}
.fourth_section-btn-wrapper{
  text-align: center;
}
.fifth_section-registration-process-wrapper{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fifth_section_form-wrapper{
min-width: 24rem ;
}
.sixth_section-registration-text-wrapper {
margin-top: 3.36rem;
display: flex;
justify-content: center;
}
.sixth_section-process-button-wrapper{
  margin-top: 3.62rem;
  display: flex;
  width: 100%;
justify-content: center;
}

.seventh_section-wrapper{
  margin-top: 3.69rem;
}
.seventh_section-benefit-card-image-wrapper{
  position: absolute;
  top: -3rem;
  right: 3rem;
}
.seventh_section-benefits-button-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.75rem;
}
.faq_section-wrapper{
  margin-top: 9rem;
  display: flex;
  gap: 1.87rem;
  max-width: 100%;
  min-height: 100vh;
  
}

.faq_section .faq_section-question-wrapper {
  border-top: 0.0625rem solid var(--dark11);
  min-height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem .75rem 1rem 0; 
  justify-content: space-between;
}

.faq_section .faq_section-question-wrapper:first-child {
  border-bottom: 0.0625rem solid var(--dark11);
  min-height: 4rem;
}

.faq_section .faq_section-question-wrapper:last-child {
  border-bottom: 0.0625rem solid var(--dark11);
  min-height: 4rem;
}
.wave-wrapper{
  position: absolute;
}
#wave-section6-bg{
  max-width: 100%;
  position: absolute;
  z-index: -1;
}
@media (max-width: 80rem) {
  .third_section-google-reviews-wrapper {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 1.75rem;
  }
  .fourth_section-brand-logos-wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-top: 1.75rem;
  }
  .seventh_section{
    display: none;
  }

  #responsive-omit {
    display: none;
  }
}
